root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
insert_final_newline = true
max_line_length = 100
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Json files
[*.json]
indent_size = 2
indent_style = space

# Yaml files
[*.yaml,*.yml]
indent_size = 2
indent_style = space

# Toml files
[*.toml]
indent_size = 2
indent_style = space
