include:
    - docker/server.yaml
    - docker/swagger.yaml
    - docker/postgres.yaml
    - docker/postgres-exporter.yaml
    - docker/redis.yaml
    - docker/redis-exporter.yaml
    - docker/prometheus.yaml
    - docker/grafana.yaml
    - docker/volumes.yaml
    - docker/networks.yaml
